body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', serif;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    padding:2% 2%;
}
nav img{
    width: 160px;
    padding:8% 8%;
}
.nav-links{
    flex: 1; 
    text-align: right;
}
.nav-links h4 li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.nav-links h4 li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links h4 li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #7cfc01;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links h4 li a.demo { 
    color: #7cfc01; 
}
.nav-links h4 li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
   font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
nav.fa{
    display:none;
}
 .fa-times {
        display: none;
    }
.fa-times{
    opacity:0;
}


@media screen and (min-width: 700px) {
    .fa-bars {
        display: none;
    }
    .fa-times{
        display: none;
        opacity: 0;
    }
}


@media screen and (max-width: 700px) {
    nav img{
        width:80px;
    }
    .fa-bars {
        display: inline-block;
        margin-right: 25px;
        margin-top:25px;
        color:white;
    }
    .fa-times {
        display: none;
    }
    .nav-links {
        display: none;
        position: fixed;
        background: #78d510;
        opacity: 0;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -100%;
        text-align: left;
        z-index: 2;
        transition: right 0.5s ease;
    }
    .nav-links.active {
        right: 0;
        opacity: 1;
        display: flex;
    }
    #timesIcon.active {
        display: inline-block;
        position: absolute;
        top: 20px;
        left:10px;
    }
    .nav-links h4 {
        padding: 15px;
    }
    nav.fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

/*-----------------Contact-----------------*/

.contact {
    padding: 50px 0;
    text-align: center;
    align-items: center;
}

.heading {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

.form {
    background-color: #222;
    max-width: 80vw;
    align-items: center;
    padding-left:10vw;
}

.input-group {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 80vw;
    padding-left:10vw;
}

.input-box {
    flex: 1;
    justify-self: center;
}

.input-box input[type="text"],
.input-box input[type="email"],
.input-box input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
}

textarea {
    resize: none;
}

input[type="submit"].btn {
    background-color: lightskyblue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"].btn:hover {
    background-color: #e03e00;
}

.input-group-2 {
    padding-left:10vw;
    max-width: 80vw;
}

input::placeholder,
textarea::placeholder {
    color: #bbb;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: none;
    background-color: #444;
}

/*------------------------------------Product--------------------------------------*/
.ProductTitle{
    max-width:85%;
    margin:auto;
    padding-top:20px;
    font-size: 24px;
    color:white;
}
.content-contain{
    display:flex;
    align-items:center;
    justify-content: space-between;
    max-width:85%;
    margin:auto;
    color:white;
}
.CadeiraText{
    max-width: 50vw;
}
.CadeiraText p{
    font-size:16px;
    line-height:1.6;
    text-align: justify;
}
.Tableimg{
    max-width:30vw;
    display: block;
    margin-right:0;
    margin-left:auto;
}

.Tableimg img{
    width:100%;
    height:auto;
    display:block;
}
@media (max-width: 700px) {
    .content-contain {
        flex-direction: column; 
        align-items: flex-start;
    }
    .CadeiraText{
        max-width: 90vw;
    }
    .Tableimg{
        max-width:80vw;
    }
    
}

.MediaTitle{
    text-align: center;
    max-width:80%;
    margin:auto;
    padding-top:30px;
    font-size: 26px;
    color: white;
    padding-bottom:20px;
}
.content-contain{
    display:flex;
    align-items:center;
    justify-content: space-between;
    max-width:85%;
    margin:auto;
}
.Ipad1img,
.Ipad2img{
    overflow: hidden;
}
.Ipad1img img,
.Ipad2img img {
    max-height: 27vw;
    max-width: 40vw;
    display: block;
    margin: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.scrollImage1.animate__animated.animate__fadeIn,
.scrollImage2.animate__animated.animate__fadeIn {
    opacity: 1 !important; 
    display: block !important; 
}

.scrollImage1,
.scrollImage2 {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

@media (max-width: 700px) {
    .content-container {
        align-items: center;
        max-width: 100vw;
    }
    .Cadeira-Demo {
        max-width: 100vw;
    }
    .Cadeira-Demo video {
        width: 110vw;
    }
    .Media{
        align-items: center;
    }
    .Ipad1img img {
        max-width: 80vw;
        max-height:80vw;
    }
    .Ipad2img img {
        max-width: 80vw;
        max-height: 80vw;
    }
}


/*_______________________________________Demo_______________________________*/
.DemoTitle{
    text-align: center;
    color: white;
    font-size: 26px;
}

.Demo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px 0;
}
.demo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 85%;
    margin: auto;
    color: white;
}

.DemoText,
.Cadeira-Demo {
    flex: 1; 
    text-align: center;
    padding: 0 10px;
}


.Cadeira-Demo {
    text-align: center;
}

.Cadeira-Demo video {
    width: 100%;
    max-width: 600px;
    margin-left: 0px;
    margin-right: 10px;
}

.DemoText p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    color: white;
    margin-right: 10px;
    margin-left: 10px

}



@media (max-width: 700px) {
    .demo-container {
        flex-direction: column; 
    }

    .Cadeira-Demo video {
        width: 100%; 
    }
}


/*_______________________________________About_______________________________*/

.TeamTitle{
    text-align: center;
    max-width:80%;
    margin:auto;
    padding-top:20px;
    font-size: 24px;
    color:white;
}
.content-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    max-width:85%;
    margin:auto;
    color:white;
}
.Teamimg{
    max-width:50vw;
    align-content: center;
}
.Teamimg img{
    width:100%;
    height:auto;
    display:block;
}
.Teamtext p{
    max-width: 85vw;
    font-size:16px;
    line-height:1.6;
    text-align: justify;
}

@media (max-width: 700px) {
    .content-contain {
        flex-direction: column; 
        align-items: flex-start;
    }
    .TeamText{
        max-width: 90vw;
    }
    .Teamimg{
        max-width:80vw;
    }
}





/*------footer------*/
.footer{
    width: 100%;
    text-align:center;
    padding-top: 170px;
    padding-bottom: 30px;
    color:white;
}
.footer h2{
    margin-bottom:25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    margin:0 20px;
    cursor: pointer;
    padding:18px 0;
}
.icons .fa-heart{
    color:#78d510;
}
.icons .fafa-heart{
    color:#78d510;
}
.icons .fa-linkedin, .icons .fa-instagram, .icons .fa-github {
    font-size: 2.5em; 
    color: white;
}
